In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from statsmodels.formula.api import glm
import statsmodels.api as sm
import os

In [2]:
## Extract Titanic Data
def Extract_Data():
    data_uri = 'postgres://ujfkzspzjssvhx:ece2bb84158cf21405a686384ea4eff5344303580151c5180b40cbf9c78c7519@ec2-107-20-167-241.compute-1.amazonaws.com:5432/d9lhgv0dafi2fv'
    engine = create_engine(data_uri)
    dat = pd.read_sql('''SELECT sfid, heroku_id__c, survival_probability__c, survived__c,age__c,sex__c, pclass__c, fare__c
                         FROM salesforce.titanic_train_cleaned__c''', engine)
    engine.dispose()
    return dat
dat = Extract_Data()

In [3]:
dat

,sfid,heroku_id__c,survival_probability__c,survived__c,age__c,sex__c,pclass__c,fare__c
0,a053k00002JRBy3AAH,None,None,False,45.0,male,Third,6.9750
1,a053k00002JRBy4AAH,None,None,False,33.0,male,Third,7.8958
2,a053k00002JRBy5AAH,None,None,False,20.0,male,Third,7.0500
3,a053k00002JRBy6AAH,None,None,False,47.0,female,Third,14.5000
4,a053k00002JRBy7AAH,None,None,True,29.0,female,Second,26.0000
...,...,...,...,...,...,...,...,...
709,a053k00002JRC4rAAH,None,None,False,47.0,male,First,25.5875
710,a053k00002JRC4sAAH,None,None,False,36.0,male,Third,7.4958
711,a053k00002JRC4tAAH,None,None,True,20.0,male,Third,7.9250
712,a053k00002JRC4uAAH,None,None,False,32.0,male,Second,73.5000
713,a053k00002JRC4vAAH,None,None,False,25.0,male,Second,13.0000

In [4]:
dat.groupby(['sex__c','pclass__c']).mean()

                  survived__c     age__c     fare__c
sex__c pclass__c
female First         0.964706  34.611765  107.946275
       Second        0.918919  28.722973   21.951070
       Third         0.460784  21.750000   15.875369
male   First         0.396040  41.281386   71.142781
       Second        0.151515  30.740707   21.113131
       Third         0.150198  26.507589   12.162695

In [7]:
mod = glm('survived__c ~ C(sex__c) * C(pclass__c) + age__c', dat, family=sm.families.Binomial()).fit()
mod.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                              Generalized Linear Model Regression Results
=======================================================================================================
Dep. Variable:     ['survived__c[False]', 'survived__c[True]']   No. Observations:                  714
Model:                                                     GLM   Df Residuals:                      707
Model Family:                                         Binomial   Df Model:                            6
Link Function:                                           logit   Scale:                          1.0000
Method:                                                   IRLS   Log-Likelihood:                -306.71
Date:                                         Wed, 20 Nov 2019   Deviance:                       613.43
Time:                                                 09:45:40   Pearson chi2:                     816.
No. Iterations:                                              6
Covariance Type:                                     nonrobust
============================================================================================================
                                               coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------
Intercept                                   -4.9099      0.683     -7.191      0.000      -6.248      -3.572
C(sex__c)[T.male]                            3.6392      0.629      5.790      0.000       2.407       4.871
C(pclass__c)[T.Second]                       1.1604      0.734      1.581      0.114      -0.278       2.599
C(pclass__c)[T.Third]                        4.1692      0.648      6.431      0.000       2.899       5.440
C(sex__c)[T.male]:C(pclass__c)[T.Second]     0.6688      0.816      0.820      0.412      -0.930       2.268
C(sex__c)[T.male]:C(pclass__c)[T.Third]     -2.1927      0.685     -3.200      0.001      -3.536      -0.850
age__c                                       0.0419      0.008      5.124      0.000       0.026       0.058
============================================================================================================
"""

In [17]:
mod.predict(dat).to_list()

AttributeError: 'list' object has no attribute 'len'

In [23]:
# preds = mod.predict()
preds = mod.predict(dat).to_list()
np.array([1]*len(preds)) - preds
# preds = [1]*len(preds) - preds
# dat['preds'] = preds

array([0.06959371, 0.11009837, 0.17586871, 0.22613927, 0.92644525,
       0.16700516, 0.17900043, 0.98390632, 0.43022403, 0.20151453,
       0.56567029, 0.45465348, 0.1423146 , 0.51742277, 0.39969412,
       0.15286189, 0.11427462, 0.90735172, 0.16404137, 0.13983347,
       0.97365795, 0.40334257, 0.0894895 , 0.97256078, 0.13983347,
       0.20151453, 0.15566131, 0.0549636 , 0.20151453, 0.18202944,
       0.26905007, 0.3258467 , 0.03132141, 0.13238133, 0.11009837,
       0.12304192, 0.16404137, 0.0894895 , 0.45465348, 0.97853356,
       0.98390632, 0.11221838, 0.08127038, 0.19165904, 0.94769853,
       0.43394971, 0.17292054, 0.8795505 , 0.93195995, 0.49266753,
       0.29449644, 0.1423146 , 0.20498934, 0.13727243, 0.43394971,
       0.18202944, 0.21190787, 0.58982905, 0.11014645, 0.0894895 ,
       0.06313334, 0.98178812, 0.41997613, 0.16404137, 0.20498934,
       0.17285039, 0.21190787, 0.96899637, 0.99204514, 0.94338196,
       0.43394971, 0.15286189, 0.15559684, 0.18202944, 0.77417696,
       0.98518183, 0.13983347, 0.97471238, 0.13983347, 0.57964701,
       0.95232963, 0.16987319, 0.12763872, 0.393293  , 0.18835666,
       0.92925223, 0.95038939, 0.11427462, 0.52409897, 0.8795505 ,
       0.95541502, 0.0828497 , 0.90376581, 0.11427462, 0.97471238,
       0.16404137, 0.83925654, 0.08775643, 0.17900043, 0.97504838,
       0.19485142, 0.37346988, 0.11427462, 0.96354076, 0.93708927,
       0.96354076, 0.05608887, 0.44053207, 0.47173009, 0.06435536,
       0.94973845, 0.92925223, 0.52788442, 0.17586871, 0.18202944,
       0.92834486, 0.93708927, 0.11009837, 0.45465348, 0.37346988,
       0.16404137, 0.12763872, 0.52409897, 0.95419765, 0.33175033,
       0.07099601, 0.09117203, 0.25394398, 0.67022787, 0.09117203,
       0.91416531, 0.94185603, 0.45465348, 0.12084945, 0.12763872,
       0.98178812, 0.96771149, 0.58982905, 0.96940593, 0.3505982 ,
       0.97471238, 0.56939675, 0.13004712, 0.30447419, 0.19573603,
       0.95038939, 0.11009837, 0.29026006, 0.63593104, 0.15566131,
       0.16404137, 0.45465348, 0.20927647, 0.49266753, 0.07522418,
       0.88815664, 0.02948224, 0.13486539, 0.18835666, 0.15016647,
       0.49646279, 0.27737635, 0.11009837, 0.15837156, 0.85025152,
       0.35738236, 0.13238133, 0.61630132, 0.11858816, 0.97292457,
       0.21190787, 0.10605647, 0.97141926, 0.08127038, 0.17586871,
       0.96771149, 0.20151453, 0.94110006, 0.36857695, 0.11427462,
       0.15286189, 0.061876  , 0.1475103 , 0.15022909, 0.29012701,
       0.15566131, 0.98390632, 0.54496296, 0.11427462, 0.2956673 ,
       0.04594588, 0.0828497 , 0.51742277, 0.12304192, 0.07235847,
       0.88815664, 0.13238133, 0.98022634, 0.98455703, 0.93457134,
       0.08613096, 0.41347392, 0.93951657, 0.55534065, 0.98022634,
       0.18835666, 0.18202944, 0.58615089, 0.64904953, 0.93951657,
       0.19485142, 0.30447419, 0.98691058, 0.46506908, 0.19573603,
       0.13486539, 0.86557385, 0.17586871, 0.1475103 , 0.17586871,
       0.25683121, 0.44053207, 0.53454608, 0.21534768, 0.04416301,
       0.16700516, 0.05608887, 0.97365795, 0.96203863, 0.16404137,
       0.13727243, 0.92353607, 0.94411038, 0.96771149, 0.03683081,
       0.90376581, 0.3637109 , 0.16404137, 0.10214593, 0.98455703,
       0.07381205, 0.22349331, 0.93873217, 0.06435536, 0.10810811,
       0.09836371, 0.05948609, 0.31342668, 0.93951657, 0.07235847,
       0.18835666, 0.98635766, 0.49266753, 0.63943892, 0.21534768,
       0.18202944, 0.1475103 , 0.22349331, 0.06069801, 0.07235847,
       0.31342668, 0.07819381, 0.98455703, 0.45089163, 0.49646279,
       0.1475103 , 0.1423146 , 0.41347392, 0.16404137, 0.96498561,
       0.96899637, 0.10214593, 0.2701585 , 0.31221667, 0.1423146 ,
       0.19485142, 0.32129164, 0.25287903, 0.24115229, 0.13238133,
       0.21630033, 0.29449644, 0.66790665, 0.16987319, 0.12763872,
       0.04596739, 0.62971527, 0.18202944, 0.45465348, 0.53454608,
       0.17586871, 0.9588542 , 0.66790665, 0.11427462, 0.96899637,
       0.05718286, 0.16404137, 0.65854077, 0.25287903, 0.12997406,
       0.55534065, 0.96899637, 0.23838478, 0.12304192, 0.81532209,
       0.79562434, 0.18835666, 0.62971527, 0.95716757, 0.54872535,
       0.98518183, 0.51363073, 0.1475103 , 0.95939213, 0.63943892,
       0.40334257, 0.9225615 , 0.17586871, 0.08775643, 0.53832163,
       0.80892432, 0.31221667, 0.3637109 , 0.11646452, 0.20151453,
       0.3445321 , 0.98102298, 0.15286189, 0.12763872, 0.17586871,
       0.34111149, 0.98578172, 0.34583951, 0.41997613, 0.20151453,
       0.51363073, 0.96047716, 0.06959371, 0.3505982 , 0.34467798,
       0.98022634, 0.15022909, 0.96099473, 0.92925223, 0.75080148,
       0.46129395, 0.62971527, 0.28701003, 0.45089163, 0.09836371,
       0.12304192, 0.53454608, 0.94411038, 0.96203863, 0.29012701,
       0.10214593, 0.93951657, 0.10605647, 0.32129164, 0.34111149,
       0.22625232, 0.1475103 , 0.49646279, 0.26088349, 0.1475103 ,
       0.10028323, 0.94558057, 0.3637109 , 0.12304192, 0.37346988,
       0.12084945, 0.9205217 , 0.69197141, 0.32661823, 0.13727243,
       0.13983347, 0.25394398, 0.18835666, 0.94338196, 0.09836371,
       0.25287903, 0.35421056, 0.63943892, 0.21190787, 0.32129164,
       0.90376581, 0.95419765, 0.44053207, 0.16987319, 0.13238133,
       0.40979677, 0.11858816, 0.49646279, 0.10028323, 0.97141926,
       0.1423146 , 0.5759432 , 0.1423146 , 0.03992434, 0.15359223,
       0.9108172 , 0.12084945, 0.25287903, 0.16987319, 0.26197033,
       0.15359223, 0.16987319, 0.93372733, 0.12084945, 0.52788442,
       0.52409897, 0.59993467, 0.29883889, 0.61630132, 0.39969412,
       0.03467972, 0.52409897, 0.37975031, 0.20498934, 0.48598285,
       0.33526875, 0.3505982 , 0.0844569 , 0.09836371, 0.91739913,
       0.95541502, 0.9225615 , 0.07819381, 0.93951657, 0.13238133,
       0.10605647, 0.06824828, 0.18835666, 0.65854077, 0.20498934,
       0.17292054, 0.08288699, 0.96813746, 0.12537605, 0.14495391,
       0.16404137, 0.12304192, 0.16700516, 0.11221838, 0.93951657,
       0.88815664, 0.30328348, 0.07819381, 0.15837156, 0.20834653,
       0.1475103 , 0.94769853, 0.96354076, 0.31670311, 0.0844569 ,
       0.15022909, 0.15286189, 0.18202944, 0.38333296, 0.11427462,
       0.41347392, 0.97292457, 0.16125267, 0.13727243, 0.37975031,
       0.17586871, 0.16987319, 0.16987319, 0.21630033, 0.04978866,
       0.98252296, 0.1423146 , 0.11065108, 0.0549636 , 0.12079734,
       0.44427741, 0.13486539, 0.08775643, 0.11646452, 0.61988528,
       0.07522418, 0.24503875, 0.93873217, 0.13727243, 0.41997613,
       0.40334257, 0.31221667, 0.35421056, 0.90969637, 0.52788442,
       0.35584294, 0.15837156, 0.93195995, 0.16987319, 0.49646279,
       0.53832163, 0.28156711, 0.97400758, 0.48598285, 0.49646279,
       0.36020452, 0.42367905, 0.93951657, 0.43022403, 0.05608887,
       0.38333296, 0.20927647, 0.12304192, 0.27316258, 0.38333296,
       0.97471238, 0.96899637, 0.83925654, 0.30328348, 0.92925223,
       0.11427462, 0.13486539, 0.27316258, 0.48219099, 0.58982905,
       0.17586871, 0.98022634, 0.65854077, 0.67022787, 0.32252033,
       0.18202944, 0.25394398, 0.44427741, 0.95232963, 0.86557385,
       0.37975031, 0.10028323, 0.98178812, 0.98022634, 0.32252033,
       0.12763872, 0.06069801, 0.18202944, 0.92644525, 0.26905007,
       0.16987319, 0.94558057, 0.18921871, 0.94628231, 0.12999163,
       0.97179775, 0.13238133, 0.98178812, 0.89622042, 0.0844569 ,
       0.14495391, 0.24115229, 0.10214593, 0.12304192, 0.91635342,
       0.16404137, 0.98102298, 0.43394971, 0.3637109 , 0.07673056,
       0.17900043, 0.92925223, 0.11221838, 0.50315051, 0.31342668,
       0.12763872, 0.18921871, 0.83925654, 0.32252033, 0.10605647,
       0.15286189, 0.19485142, 0.97939696, 0.46506908, 0.30769898,
       0.98578172, 0.6261681 , 0.97062544, 0.19485142, 0.12084945,
       0.96498561, 0.93195995, 0.11009837, 0.06565955, 0.53454608,
       0.17586871, 0.92353607, 0.16700516, 0.18835666, 0.96354076,
       0.16987319, 0.22625232, 0.11427462, 0.17586871, 0.97471238,
       0.10408497, 0.50694583, 0.11221838, 0.20151453, 0.28701003,
       0.39969412, 0.1475103 , 0.9225615 , 0.96899637, 0.1475103 ,
       0.88392283, 0.43022403, 0.90619183, 0.24115229, 0.46506908,
       0.13238133, 0.47551523, 0.08775643, 0.1423146 , 0.12084945,
       0.0549636 , 0.33526875, 0.16987319, 0.97141926, 0.07235847,
       0.9108172 , 0.91416531, 0.13238133, 0.1423146 , 0.12763872,
       0.44053207, 0.93372733, 0.15286189, 0.33175033, 0.9108172 ,
       0.42367905, 0.97572566, 0.23736432, 0.17900043, 0.17900043,
       0.12999163, 0.21888514, 0.393293  , 0.59628511, 0.11009837,
       0.09470676, 0.13238133, 0.46506908, 0.09117203, 0.33175033,
       0.53310665, 0.16404137, 0.47551523, 0.50694583, 0.15286189,
       0.45089163, 0.44053207, 0.98252296, 0.11858816, 0.15912328,
       0.20151453, 0.92353607, 0.07819381, 0.10214593, 0.15022909,
       0.19485142, 0.29449644, 0.02168865, 0.58982905, 0.98578172,
       0.87037878, 0.49646279, 0.95359424, 0.2956673 , 0.16404137,
       0.23736432, 0.96498561, 0.3505982 , 0.29449644, 0.92644525,
       0.18202944, 0.19165904, 0.1423146 , 0.13004712, 0.51742277,
       0.1423146 , 0.11427462, 0.1475103 , 0.35584294, 0.02503152,
       0.14495391, 0.16987319, 0.56567029, 0.65854077, 0.19165904,
       0.12769336, 0.91579631, 0.2701585 , 0.22985706, 0.15286189,
       0.04075499, 0.93627552, 0.44053207, 0.20151453, 0.18202944,
       0.9108172 , 0.17900043, 0.23838478, 0.16987319, 0.49646279,
       0.17292054, 0.35406282, 0.30447419, 0.0844569 , 0.33175033,
       0.09836371, 0.17586871, 0.13004712, 0.16700516])

In [9]:
dat.groupby(['sex__c','pclass__c']).mean()
# dat.groupby(['survived__c']).mean()

                  survived__c     age__c     fare__c     preds
sex__c pclass__c
female First         0.964706  34.611765  107.946275  0.964706
       Second        0.918919  28.722973   21.951070  0.918919
       Third         0.460784  21.750000   15.875369  0.460784
male   First         0.396040  41.281386   71.142781  0.396040
       Second        0.151515  30.740707   21.113131  0.151515
       Third         0.150198  26.507589   12.162695  0.150198